.task {
  display: flex;
  flex: 1;
  flex-direction: row;
  background: var(--gray-500);
  padding: 1rem;
  border-radius: 8px;
  gap: 0.75rem;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.75rem;
}

p {
  flex: 1;
  font-size: 14px;
  
}

.taskChecked {
  text-decoration: line-through;
  color: var(--gray-300);
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  border: 2px solid var(--blue);
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: var(--blue-dark);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: var(--blue);
}

.container input:checked ~ .checkmark:hover {
  background-color: var(--blue-dark);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container .checkmark:after:hover {
}

button {
  background: transparent;
  border: 0;
  color: var(--gray-300);
  cursor: pointer;
  padding: 0.3rem;

  display: flex;
  align-items: center;

  border-radius: 4px;
}

button:hover {
  background: var(--gray-400);
  color: var(--danger);
}
