.taskInput {
    display: flex;
    flex: 1;
    gap: 1rem;
    margin-top: -1.5rem;
    width: 100%;
}

.taskInput input{
    flex: 1;
    background: var(--gray-500);
    border: 0;
    height: 3rem;
    padding: 1rem;
    border-radius: 8px;
    color: var(--gray-100);
    line-height: 1.4;
}

.taskInput button {
    background: var(--blue-dark);
    color: var(--gray-100);
    border-radius: 8px;
    border: 0;
    padding: 1rem 1.5rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.taskInput button:hover {
    background: var(--blue);
}